                 header {
         display: block;
         position: static;
         }
         .flex-container {
         display: flex;
         flex-flow: row wrap;
         flex-direction: row;
         margin: auto;
         justify-content: space-around;
         align-items: stretch;
         }
         .grid-container {
         display: grid;
         align-content: left;
         align-items: end;
         grid-template-columns: 40px 40px 40px 40px 40px 40px 40px;
         gap: 1px 10px;
         grid-column-start: 1;
         grid-column-end: 3;
         }
         h1 {
         text-align: right;
         margin-left: 40px;
         padding-left: 30px;
         padding-right: 30px;
         padding-top: 30px;
         padding-bottom: 30px;
         display: block;
         max-width: 0%;
         min-width: 0%;
         position: sticky;
         font-family: 'Vina Sans', cursive;
         }
         h2 {
         color: maroon;
         margin: 0ex 0ex 0ex 1ex;
         padding: 0px 0px 0px 1px;
         display: inline-block;
         }
         h3 {
         margin-left: 1em;
         margin-right: 0em;
         margin-top: 0em;
         margin-bottom: 0em;
         }
         p:first-child {
         color: blue;
         }
         p:hover {
         color: red;
         }
         h1:active {
         box-shadow: 20px 20px 50px #fff555;
         }
         div {
         padding: 10px;
         border-width: 3px;
         border-style: dashed;
         border-color: gray;
         border-radius: 11px;
         margin: auto;
         }
         @media (max-width: 900px) {
         body {
         background-color: orange;
         }
         }
         #tree {
         color: green;
         }
         [class|= "grid-item"] {
         border: 1px solid white;
         }
         p, h2 {
         font-family: 'Chivo Mono', monospace;
         }
         ul li{
         list-style-type: georgian;
         }
         ul > li {
         list-style-type: circle;
         }
         li ~ ul {
         color: green;
         }
         li:first-of-type + li {
         color: blue;
         }
         div.grid-item {
         color: red;
         }
         * {
         margin: 2px;
         }
